<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177932691731-snrhnu8q70g6jnnmf501gg5k6ro85gdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177932691731-snrhnu8q70g6jnnmf501gg5k6ro85gdr</string>
	<key>API_KEY</key>
	<string>AIzaSyBitZLZYg1RM3Fi68C7KZ4oOLhDYlx4Fm8</string>
	<key>GCM_SENDER_ID</key>
	<string>177932691731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNCHATAPPY</string>
	<key>PROJECT_ID</key>
	<string>rn-chatapp-b0ac3</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-chatapp-b0ac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177932691731:ios:9235deb71fb51a661cd2e6</string>
	<key>DATABASE_URL</key>
	<string>https://rn-chatapp-b0ac3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>